# --- Core API & Server ---
fastapi>=0.112.0
uvicorn>=0.29.0
python-multipart
python-dotenv==1.0.0

# --- Database & Security ---
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
passlib[bcrypt]
PyJWT
bcrypt==4.0.1
pydantic>=2.8.0
slowapi
cloudinary

# --- AI & LangChain ---
groq
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
sentence-transformers
chromadb

# --- Document Parsing Engines ---
pypdf
docx2txt
openpyxl
numpy
llama-parse